<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/customcss")
</head>

<body>

    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--<a class="navbar-brand" href="#">Trinity University</a>-->
                        <a class="navbar-brand" href="#"><img src="Content/Images/trinseal.jpg" width="30" height="30" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @{string actName = ViewContext.RouteData.Values["action"].ToString();}
                            <li  @if(actName == "Index"){<text> class="active"</text>}>@Html.ActionLink("Home", "Index")</li>
                            <li  @if(actName == "About"){<text> class="active"</text>}>@Html.ActionLink("About Us", "About")</li>
                            <li  @if(actName == "ScalaResources"){<text> class="active"</text>}>@Html.ActionLink("Scala Resources", "ScalaResources")</li>
                            <li  @if(actName == "OurDepartment"){<text> class="active"</text>}>@Html.ActionLink("Our Department", "OurDepartment")</li>
                            <li  @if(actName == "Calendar"){<text> class="active"</text>}>@Html.ActionLink("Calendar", "Calendar")</li>
                            <li  @if(actName == "ProgramsAndEvents"){<text> class="active"</text>}>@Html.ActionLink("Programs and Events", "ProgramsAndEvents")</li>
@*                            <li>@Html.ActionLink("About Us", "About")</li>
                            <li>@Html.ActionLink("Scala Resources", "ScalaResources")</li>
                            <li>@Html.ActionLink("Our CS Department", "OurDepartment")</li>
                            <li>@Html.ActionLink("Calendar", "Calendar")</li>
                            <li>@Html.ActionLink("Programs and Events", "ProgramsAndEvents")</li>*@
@*                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Something Important<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Trinity University. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
